.player {
  display: flex;
  align-items: center;
  background-color: rgba(160, 156, 149, 0.575);
  width: 300px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  overflow: hidden;

  span {
    font-size: 24px;
    margin-left: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
}

.player-active {
  background-color: orange !important;
}
