.field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url("./../../assets/img/board.png");
}

.card-stack {
  position: relative;
  img {
    position: absolute;
    width: 160px;
  }
}

.top-card {
  cursor: pointer;
  transform: all 125ms ease-in-out;
  &:hover {
    transform: scale(1.05) translateY(-5px);
  }
}

.played-card {
  right: 25px;
  transform: scale(1) translateX(300px) translateY(-300px) rotate(5deg);
}

.pick-card {
  animation: pick-card-animation 1s ease-in-out;
  transform: scale(1) translateX(300px) translateY(-300px) rotate(5deg);
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.7);
  }
  60% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1) translateX(300px) translateY(-300px) rotate(5deg);
  }
}

.player-position {
  position: absolute;
  right: 0;
  z-index: 2;
}

.btn-add {
  position: absolute;
  right: 32px;
  bottom: 32px;
}

.pin-bottom {
  position: absolute;
  bottom: 32px;
  left: 200px;
  right: 200px;
}

.scroll-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;

  app-player-mobile {
    margin-left: 8px;
  }
}

app-player,
app-player-mobile {
  cursor: pointer;

  &:hover {
    filter: brightness(1.15);
  }
}

@media (max-width: 900px) {
  .pin-bottom {
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media (max-width: 600px) {
  .card-stack {
    position: relative;
    img {
      position: absolute;
      width: 100px;
    }
  }

  .played-card {
    right: 25px;
    transform: scale(1) translateX(125px) translateY(-170px) rotate(5deg);
  }

  .pick-card {
    z-index: 1;
    animation: pick-card-animation-mobile 1s ease-in-out;
    transform: scale(1) translateX(125px) translateY(-170px) rotate(5deg);
  }

  @keyframes pick-card-animation-mobile {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.7);
    }
    60% {
      transform: scale(1.6);
    }
    100% {
      transform: scale(1) translateX(125px) translateY(-169px) rotate(5deg);
    }
  }
.btn-add {
  position: absolute;
  right: 20px;
  bottom: 130px;
}

}
